* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5C7896;
    font-family: "ubuntu", "oswald";
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(Banner/kim1.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3C0007; /*or use the color 5C7896*/
    height: 5vh;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li::after {
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    transition: 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.f1-content {
    width: 100%;
    position: absolute;
    /* top: 50%; */
    text-align: center;
    color: white;
    padding-top: 35px;
}

.f1-content h1{
    font-size: 70px;
    margin-top: 80px;
}

.f1-content p{
    margin: 20px auto;
    font-weight: 900;
    line-height: 25px;
}

/* animation gallery */

    .carousel-driver-title {
    color: white;
    text-align: center;
    margin: 20px 0 0 20px;
    padding: 20px 0;
    font-size: 2.5em;
}

.carousel-driver-title:hover {
    color:#202D36;
    text-decoration: dashed;
}

.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

figure {
    position: relative;
    left: 0;
    width: 400%; 
    animation: 10s slide infinite;
}

.slide {
    position: relative;
    width: 25%;
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img{
    width: 100%;
    height: 500px;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}
/* animation gallery */

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 90px 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #3C0007; /*or use the color 5C7896*/
    color: white;
}

button:hover {
    text-decoration: underline;

}

.contact-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #5C7896;
    padding: 30px;
    justify-content: center;
    display: grid;
    align-items: center;
}

.container{
    max-width: 800px;
    margin-top: 0 auto; 
}

.contact-form h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    font-family: "Ubuntu";
    font-weight: 700;
}

.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}

.content {
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.form-img img {
    max-width: 100%;
}

.btn,
button,
input{
    border-radius: 35px;
}

.btn:hover,
button:hover{
    color: white;
    transition: 0.5s ease;
}

.contact-form form{
    margin: 30px 0;
}

.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}

.contact-form input:focus{
    background: transparent;

}

.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #202D36;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
}

/* footer */

.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer{
	background-color: #3C0007;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #009688;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #202D36;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}



 @media(max-width:736px){

    .banner{
        width: auto;
        background-size: fill;
        overflow-y: hidden;
    }
    .navbar {
        width: 75%;
    }
    .f1-content h1{
        font-size: 20px;
    }
    .f1-content button{
        width: 25%;
    }
    .slide {
        width: 25%;
    }
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
  .navbar {
        width: 100%;
}
  .navbar li {
        width: 100%;
        display: grid;
}
}